/* Navbar */
/* 
	Animations
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400);
@keyframes fade {
  from {
    background-color: transparent;
  }
  to {
    background-color: #00000;
  }
}
/* Mixins */
/* Containers */
@media (min-width: 1200px) {
  .container {
    width: 1220px;
  }
}
.row-first {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
  background: #181818;
  /* Old browsers */
  background: -moz-linear-gradient(left, #181818 0%, #005ECF 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #181818 0%, #005ECF 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #181818 0%, #005ECF 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: transparent radial-gradient(circle farthest-side at right bottom, #005ECF 5%, #1C2C4A 50%, #00142C 95%) repeat scroll 0% 0%;
  color: #fff;
  min-height: 870px;
  height: 100%;
}

/* Globals */
* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: "Roboto";
  letter-spacing: 0.2;
  position: relative;
}

a {
  text-decoration: none;
}

a, .btn, img {
  transition: all 0.5s ease-in-out 0s;
}

.navbar-transparent {
  height: 100px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.11765);
  background-color: transparent;
  border-radius: 0px;
}

.navbar-transparent-noscroll {
  background-color: none;
  transition: all 0.5s ease-in-out 0s;
}

.navbar-transparent-scrollhalf {
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: all 0.5s ease-in-out 0s;
}

.navbar-transparent-scrolled {
  background-color: rgba(0, 0, 0, 0.9) !important;
  transition: all 0.5s ease-in-out 0s;
}

.navbar-brand {
  margin-left: 0;
  height: 100px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .1em;
  padding-top: 42px;
  padding-left: 20%;
  color: white;
  font-weight: bold !important;
  text-transform: uppercase;
  background-image: url("../img/Compass_Icon_White.png");
  background-position: 0% 50%;
  background-size: 15%;
  background-repeat: no-repeat;
}
.navbar-brand:hover {
  text-decoration: none !important;
  color: white;
}

.navbar-nav {
  height: 100px;
}
.navbar-nav li {
  height: inherit;
}
.navbar-nav li:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.07);
}
.navbar-nav li a {
  color: white;
  height: inherit;
  border-right: 1px solid rgba(255, 255, 255, 0.07);
  padding: 37px 25px;
}
.navbar-nav li a:hover {
  color: #181818;
}

/* 
	Page Header
*/
.page-header {
  border-bottom: 0px;
}

.headline {
  font-size: 63px;
  font-weight: 100 !important;
}

/* Icons */
.fa-border-circle {
  min-height: 48px;
  min-width: 48px;
  line-height: 48px;
  border-radius: 999px;
  border: 1px solid #ebf9f1;
  color: #ebf9f1;
}

/*  Specials */
.mouse_scroll {
  animation-duration: 0.1s !important;
  animation-iteration-count: 1;
  z-index: 999;
  color: #fff;
  width: 100%;
  margin: 0px auto;
  position: absolute;
  bottom: 140px;
  display: block;
  text-align: center;
}

/* Carousel */
#carousel {
  min-width: 100%;
  min-height: 100%;
}
#carousel .carousel-inner {
  min-width: 100%;
  min-height: 100%;
}
#carousel .carousel-item-wrapper {
  padding-bottom: 100px;
}
#carousel .carousel-item-wrapper .img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
#carousel .carousel-item-wrapper .img.animated {
  animation-delay: 1s;
  animation-duration: 0.5s;
}
#carousel .animated.btn {
  animation-delay: 0.5s;
}
#carousel .carousel-control {
  background: none !important;
  top: 35%;
}

@media (max-width: 600px) {
  .navbar-nav {
    max-height: 100%;
    margin: 0px;
  }

  .navbar-collapse {
    max-height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 0px;
    margin-right: 0px;
  }
  .navbar-collapse.in {
    overflow-y: visible;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    min-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
  }
  .navbar-collapse li {
    background-color: rgba(0, 0, 0, 0.9) !important;
    transition: all 0.5s ease-in-out 0s;
  }
}
@media (min-width: 600px) {
  #carousel .hidden-xs {
    display: block !important;
  }
}
@media (max-width: 768px) {
  #carousel {
    text-align: center;
  }
  #carousel .img {
    float: center;
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 1200) {
  .carousel-control {
    display: none;
  }

  #carousel {
    background: white !important;
    background-image: none;
  }
}
/* Paragraph */
.lead {
  line-height: 1.4em;
}

/* Buttons */
.btn-lg {
  border-radius: 2px;
  line-height: 1.33333;
  padding: 26.66667px 53.33333px;
}

/*  Containers */
.container-fluid {
  padding-left: 10%;
  padding-right: 10%;
}

/* Image */
img.fill {
  width: 100%;
  min-height: inherit;
}

/* Tooltip */
.tooltip-overlay {
  z-index: 999;
  position: absolute;
  top: 350px;
  left: 255px;
  float: center !important;
  opacity: 0.1;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
}
.tooltip-overlay:hover {
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
