/* Navbar */
/* 
	Animations
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400);
@keyframes fade {
  from {
    background-color: transparent;
  }
  to {
    background-color: #00000;
  }
}
/* Mixins */
/* Containers */
@media (min-width: 1200px) {
  .container {
    width: 1220px;
  }
}
.row-first {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
  background: #181818;
  /* Old browsers */
  background: -moz-linear-gradient(left, #181818 0%, #005ECF 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #181818 0%, #005ECF 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #181818 0%, #005ECF 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: transparent radial-gradient(circle farthest-side at right bottom, #005ECF 5%, #1C2C4A 50%, #00142C 95%) repeat scroll 0% 0%;
  color: #fff;
  height: 100%;
}

#main-headline {
  height: 1084px;
  background-image: url("file:///home/hmoura/Desktop/newSite/hero-screen4-2.png");
  background-repeat: no-repeat;
  background-position: 70% 100%;
  background-size: 40%;
}
#main-headline .headline-wrapper {
  padding-top: 200px;
  padding-bottom: 400px;
}

/* Globals */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  letter-spacing: 0.2;
}

a {
  text-decoration: none;
}

a, .btn, img {
  transition: all 0.5s ease-in-out 0s;
}

.navbar-transparent {
  height: 96px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.11765);
  background-color: transparent;
  border-radius: 0px;
}

.navbar-transparent-noscroll {
  background-color: none;
  transition: all 0.5s ease-in-out 0s;
}

.navbar-transparent-scrollhalf {
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: all 0.5s ease-in-out 0s;
}

.navbar-transparent-scrolled {
  background-color: rgba(0, 0, 0, 0.9) !important;
  transition: all 0.5s ease-in-out 0s;
}

.navbar-brand {
  margin-left: 0;
  height: 96px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .1em;
  padding-top: 40px;
  color: white;
  font-weight: bold !important;
  text-transform: uppercase;
}
.navbar-brand:hover {
  text-decoration: none !important;
  color: white;
}

.navbar-nav {
  height: 96px;
}
.navbar-nav li {
  height: inherit;
}
.navbar-nav li:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.07);
}
.navbar-nav li a {
  color: white;
  height: inherit;
  border-right: 1px solid rgba(255, 255, 255, 0.07);
  padding: 37px 25px;
}
.navbar-nav li a:hover {
  color: #181818;
}

/* 
	Page Header
*/
.page-header {
  border-bottom: 0px;
}

.headline {
  font-size: 63px;
  font-weight: 100 !important;
}

/* Icons */
.fa-border-circle {
  min-height: 48px;
  min-width: 48px;
  line-height: 48px;
  border-radius: 999px;
  border: 1px solid #ebf9f1;
  color: #ebf9f1;
}

/*  Specials */
.mouse_scroll {
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  z-index: 99;
  color: #fff;
  position: absolute;
  bottom: 40px;
  margin: 0px auto;
  width: 100%;
  display: block;
  text-align: center;
}

/* Carousel */
.carousel-control {
  background: none !important;
  top: 400px;
}

/* Paragraph */
.lead {
  line-height: 1.4em;
}

/* Buttons */
.btn-lg {
  border-radius: 2px;
  line-height: 1.33333;
  padding: 26.66667px 53.33333px;
}

/*# sourceMappingURL=main.css.map */
