/* Globals */
* {
	box-sizing: border-box;
}

html, body {overflow-x: hidden;}

body {
	font-family: "Roboto";
	letter-spacing: 0.2;
	position: relative;

}

a {
	text-decoration: none;
}

a, .btn, img {
	@include fade-in(0.5s);
}

.navbar-transparent {

	height: $navbar-height;
	border-left: 0px; border-right: 0px; border-top: 0px;
	border-bottom:1px solid rgba(255, 255, 255, 0.117647);
	background-color: transparent;
	border-radius: 0px;
}

.navbar-transparent-noscroll {
	background-color: none;
	@include fade-in(0.5s);
}

.navbar-transparent-scrollhalf {
	background-color: rgba(0, 0, 0, 0.5) !important;
	@include fade-in(0.5s);
}

.navbar-transparent-scrolled {
	background-color: rgba(0, 0, 0, 0.9) !important;
	@include fade-in(0.5s);
}

.navbar-brand {
	margin-left: 0;
	height: $navbar-height;;
	font-size: $navbar-brand-font-size;
	font-weight: 400;
	letter-spacing: .1em;
	padding-top: ($navbar-height - $navbar-brand-font-size)/2;
	padding-left: 20%;
	color: white;
	font-weight: bold !important;
	text-transform: uppercase;



	background-image: url("../img/Compass_Icon_White.png");
	background-position: 0% 50%;
	background-size: 15%;
	background-repeat: no-repeat;

	&:hover {
		text-decoration: none !important;
		color: white;
	}
}

.navbar-nav {
	height: $navbar-height;
	li {
		height: inherit;
		&:first-child {
			border-left: 1px solid rgba(255, 255, 255, 0.07);
		}
		a { 
			color: white;
			height: inherit ;
		    border-right: 1px solid rgba(255, 255, 255, 0.07);
		    padding: 37px 25px;
		    &:hover {
				color: $invert-color;
		    }
		}
		
	}
}

/* 
	Page Header
*/
.page-header {
	border-bottom: 0px;
}

.headline {
	font-size: 63px;
	font-weight: 100 !important;
}


/* Icons */

.fa-border-circle {
	min-height: 48px;
	min-width: 48px;
	line-height: 48px;

	border-radius: 999px;
	border: 1px solid #ebf9f1;

	color: #ebf9f1;
}

/*  Specials */
.mouse_scroll {
  animation-duration: 0.1s !important;
  animation-iteration-count: 1;
  z-index: 999;
  color: #fff;
	width: 100%;
  margin: 0px auto;
  position: absolute;
  bottom: 140px;
  display: block;
  text-align: center; }


/* Carousel */
#carousel
{
	min-width: 100%;
	min-height: 100%;

	.carousel-inner {
		min-width: 100%;
		min-height: 100%;
	}

	.carousel-item-wrapper {
		// padding-top: 100px;
		padding-bottom: 100px;

		.img {
			max-width: 100%;
			height: auto;
			vertical-align: middle;
			&.animated {
				animation-delay: 1s;
				animation-duration: 0.5s;
			}
		}
	}
	
	.animated.btn {
		animation-delay: 0.5s; 
	}

	.carousel-control
	{
		background: none !important;
		top: 35%;
	}
}

@media (max-width: 450px) {
	#carousel {
}
}

@media (max-width: 600px) {
	.navbar-nav {
		max-height: 100%;
		margin: 0px;
	}

	.navbar-collapse {
		max-height: 100%;
		position: absolute;
		left: 0;
		right: 0;

		margin-left: 0px;
		margin-right: 0px;
		&.in{
			overflow-y: visible;
			margin-left: 0px;
			margin-right: 0px;
			padding: 0px;
			min-width: 100%;
			position: absolute;
			left:0;
			right: 0;
			height: 100%;
		}

		li {
			background-color: rgba(0, 0, 0, 0.9) !important;
			@include fade-in(0.5s);
		}
		
	}
}

@media (min-width: 600px) {
	#carousel {
		.hidden-xs {
			display: block !important;
		}	
	}
}

@media (max-width: 768px) {
			#carousel { 
				text-align: center;

				.img {
					float:center;
					max-width: 100%;
					height: auto;
				}

			}
		}



@media (max-width: 1200) {

	.carousel-control {
		display: none;
	}

	#carousel {
		background: rgba(255, 255, 255, 1) !important;
		background-image: none;
	}
}


/* Paragraph */
.lead {
	line-height: 1.4em;
}

/* Buttons */
.btn-lg {
	border-radius: 2px;
	line-height: 1.33333;
	padding: 26.66667px 53.33333px
}

/*  Containers */

.container-fluid {
	padding-left: 10%;
	padding-right: 10%;
}

/* Image */
img.fill {
	width: 100%;
	min-height: inherit;
}

/* Tooltip */
.tooltip-overlay {
	z-index: 999;
	position: absolute;
	top: 350px;
	left: 255px;
	float: center !important;
	opacity: 0.1;
	transition: all 0.2s ease-in-out 0s;
	cursor: pointer;
	&:hover {
		opacity: 1;
	}
}